@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 5px;
    margin: 5px;
}

  #webname {
    background-color: #92ad70;
    color: white;
    padding: 10px;
}

.nav-links {
  text-decoration: none;
  color: #2a2a2a; 
  margin-right: 15px;
}

th {
  padding: 12px;
  background-color: #333;
  color: white;
  width: fit-content;
}

tr:nth-child(even) {
  background-color: #daebc5;
}

form * {
  display: block;
  margin: auto;
  text-align: center;
}

button {
  background-color: #92ad70;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}