<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>
<body>
    <header>
        <h1>Nihitha Sunil</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>        
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <form onsubmit="return validateForm(event)">
            <label for="name">Your name (required):</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Your email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="comment">Your comment:</label>
            <textarea id="comment" name="comment" required></textarea>
            
            <button type="submit">Submit</button>
        </form>

        <table border="1">
            <tr>
                <th>Contact Method Description</th>
            </tr>
            <tr>
                <td>nsunil@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>(848)-270-2693</td>
            </tr>
            <tr>
                <td> https://www.linkedin.com/in/nihitha-sunil/ </td>
            </tr>
        </table>
    </div>        
    <footer>
        <p>© 2025 designed and coded by Nihitha Sunil.</p>
    </footer>
        
    
    
</body>
</html>