<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Your name professional website">
    <title>Your name</title>
</head>
<body>
    <header>
        <h1 id="webname">Nihitha Sunil</h1>
        <nav>
            <a class="nav-links" href="../index.html">Home</a> |
            <a class="nav-links" href="cv.html">CV</a> |
            <a class="nav-links" href="contact.html">Contact Me</a> |
            <a class="nav-links" href="fun.html">For Fun</a>
        </nav>       
        
    </header>

    <div class="main">
        <h2>Curriculum Vitae</h2>
    </div>        
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>Education</td>
            <td>Carnegie Mellon University - Information Systems</td>
        </tr>
        <tr>
            <td>Experience</td>
            <td>Artificial Intelligence Intern at ThirdAi </td>
        </tr>
        <tr>
            <td>Skills</td>
            <td>Python, C, SQL, HTML, CSS, javascript, Ruby, R</td>
        </tr>
        <tr>
            <td>Projects</td>
            <td>Web Development Portfolio</td>
        </tr>
    </table>
    <a href="../static/resume.pdf" target="_blank">My Resume (PDF)</a>

    <footer>
        <p>© 2025 designed and coded by Nihitha Sunil.</p>
    </footer>
    
</body>
</html>